<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="layouts :: header"> </head>
<body>

    <ul th:replace="layouts :: foo"> </ul>


    <h4> Current Projects </h4>
    <table>
        <thead>
            <tr>
                <th>Project Name </th>
                <th>Project Stage </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aProject: ${projects}">
                <td th:text="${aProject.name}"/>
                <td th:text="${aProject.stage}"/>
            </tr>
        </tbody>
    </table>

<!--For Employees-->
    <h4> Current Employees </h4>
    <table>
        <thead>
        <tr>
            <th>First Name </th>
            <th>Lastname Stage </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anEmployee: ${employees}">
            <td th:text="${anEmployee.firstName}"/>
            <td th:text="${anEmployee.lastName}"/>
        </tr>
        </tbody>
    </table>

</body>
</html>